.hamburger {
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 26px;
  height: 12px;
  z-index: 1;
  span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ff0046;
    margin-bottom: 2px;
    transition: all 0.3s;
  }
  &__active {
    span {
      margin-bottom: -2px;
      &:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
      }
    }
  }
}